[url "git@lab.identitii.com:"]
	insteadOf = https://lab.identitii.com/
[url "git@lab.identitii.com:identitii/oapi-codegen.git"]
	insteadOf = https://lab.identitii.com/identitii/oapi-codegen.git
[url "git@lab.identitii.com:identitii/kin-openapi.git"]
	insteadOf = https://lab.identitii.com/identitii/kin-openapi.git
[url "git@lab.identitii.com:identitii/dateparse.git"]
	insteadOf = https://lab.identitii.com/identitii/dateparse.git
[user]
	email = kenley@identitii.com
[uers]
	name = Kenley Bastari
[alias]
	ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
